[alias]
	; From https://snyk.io/blog/10-git-aliases-for-faster-and-productive-git-workflow/
	; Checkout another branch: co develop/add-popup
	co = checkout
	; Create a new branch and switch to it
	cob = checkout -b
	; Delete branch
	del = branch -D
	; Show all branches
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	; Add all git unstaged files into the staging area with a generic commit message
	save = !git add -A && git commit -m 'chore: commit save point'
	; Undo the previous commit on this branch, and check out all the previous committed changes as uncommitted so you can resume work on them
	undo = reset HEAD~1 --mixed
	; Resets all staged changes (those that you added with the git add command)
	res = !git reset --hard
	; Push changes to upstream
	done = !git push origin HEAD
	; Pretty git log
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	; See the last commit
	last = log -1 HEAD --stat
	; Search for strings in commits
	se = !git log --grep
	; Sqaush merge branch to active one e.g.
	; git sm origin/other-branch-name
	sm = !git merge --squash
